:root {
  font-family: Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272343;
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
